$mobile-breakpoint: 573px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$mobile-header-text-size: 2.5rem;
$mobile-header-line-height: 2rem;
$mobile-header-text-weight: 400;

$mobile-subheader-text-size: .875rem;
$mobile-subheader-line-height: 1.375rem;
$mobile-subheader-text-weight: 700;

$mobile-body-text-size: .8125rem;
$mobile-body-line-height: 1.125rem;
$mobile-body-text-weight: 300;

$mobile-btn-label-text-size: .625rem;
$mobile-btn-label-line-height: 1.25rem;
$mobile-btn-label-text-weight: 700;

$mercury: #e1e1e1;
$primary-bgcolor: #323232;
$primary-body-bgcolor: #FFFFFF;
$gallery-bgcolor:#FAFAFA;
$primary-header-text-color:#FFFFFF;
$primary-body-text-color: #000000;

$tablet-header-text-size: 1.9rem;
$tablet-header-line-height: 3rem;
$tablet-header-text-weight: 700;

$tablet-subheader-text-size: 1.9rem;
$tablet-subheader-line-height: 3rem;
$tablet-subheader-text-weight: 600;

$tablet-title-text-size: 1.2rem;
$tablet-title-line-height: 1rem;
$tablet-title-text-weight: 600;