$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$mobile-header-text-size: 1.5rem;
$mobile-header-line-height: 2rem;
$mobile-header-text-weight: 400;

$mobile-subheader-text-size: .875rem;
$mobile-subheader-line-height: 1.375rem;
$mobile-subheader-text-weight: 700;

$mobile-body-text-size: .8125rem;
$mobile-body-line-height: 1.125rem;
$mobile-body-text-weight: 300;

$mobile-btn-label-text-size: .625rem;
$mobile-btn-label-line-height: 1.25rem;
$mobile-btn-label-text-weight: 700;


$primary-bgcolor: #323232;
$primary-body-bgcolor: #FFFFFF;
$gallery-bgcolor:#FAFAFA;
$primary-header-text-color:#FFFFFF;
$primary-body-text-color: #000000;
