@use "./partials/typography" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

.hero-banner {
    background-image: url(../assets/Images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 50vh;
    min-height: 35vh;
    min-width: 50rem;

    @include tablet {
        height: 50vh;
    }

    @include desktop {
        height: 80vh;
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 0;
        margin: 1.875rem;
        font-size: 1.5625rem;
        color: $primary-header-text-color;
        @include text-styles($mobile-header-text-size, $mobile-header-line-height, $mobile-subheader-text-weight);

        @include tablet {
            font-size: 3.4375rem;
        }

        @include desktop {
            font-size: 85px;
        }
    }
}

.site-main {
    margin: 1.875rem;

    &__title {
        padding-top: 1.5rem;
        padding-bottom: 1rem;

        @include tablet {
            padding-top: 3rem;
            padding-bottom: 2.25rem;
            font-size: 2.1875rem;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        max-width: 60rem;
        margin: auto;
        padding: 0 1rem;

        @include tablet {
            padding: 0 2rem;
        }
    }

    &__article {
        padding: 0 2rem;
    }

    &__img {
        width: 100%;
        padding-bottom: 2rem;
        max-height: 20rem;

        @include tablet {
            max-height: 30rem;
        }
    }

    &__paragraph {
        padding-bottom: 1.5rem;
        @include text-styles($mobile-subheader-text-size, $mobile-subheader-line-height, $mobile-subheader-text-weight);
        @include text-styles($tablet-header-text-size,$tablet-header-line-height,$tablet-header-text-weight)
        
    }

    &__author {
        @include text-styles($mobile-subheader-text-size, $mobile-subheader-line-height, $mobile-subheader-text-weight);
        @include tablet {
            @include text-styles($tablet-subheader-text-size, $tablet-subheader-line-height, $tablet-subheader-text-weight);
        }
    }

    &__header {
        padding: 1.5rem 0 0.5rem 0;
        font-weight: 400;
        @include tablet {
            @include text-styles($tablet-title-text-size, $tablet-title-line-height, $tablet-title-text-weight);
        }
    }

    .site-article {
        @include tablet {
            display: flex;
            gap: 2rem;
        }

        &__paragraph {
            flex: 50%;

            @include tablet {
                padding-top: 1rem;
            }
        }
    }
}

.gallery {
    background-color: $gallery-bgcolor;

    &__container {
        display: flex;
        flex-direction: column;
        padding: 3rem;

        @include tablet {
            padding: 3rem 2rem;
        }
    }

    &__title {
        padding-bottom: 1.25rem; 
        @include text-styles($mobile-header-text-size, $mobile-header-line-height, $mobile-subheader-text-weight);

        @include tablet {
            padding-bottom: 2rem;
        }
    }

    &__images {
        display: flex;
        gap: 1rem;
        margin: 0;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;

        @include tablet {
            gap: 1.2rem;
        }
    }

    &__image {
        display: block;
        width: 100%;
        transition: all 0.5s ease;
        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0%);
        }

        @include tablet {
            width: calc(33.33% - 1.5rem);
        }
    }
}


.comment-section {
    background-color: beige;
    height: 100vh;

    &__title {
        margin: 20px;
        font-size: 3rem;
    }

    .comment-form {
        margin: 30px;

        &__avatar {
            border-radius: 50%;
            width: 50px;
            height: 50px;
            float: left;
            margin: 20px;
        }

        &__section {
            display: flex;
            flex-direction: column;
            margin: 20px;
            width: 80%;
        }

        &__label,
        &__comment-field {
            padding: 10px 0;
        }

        &__name-input,
        &__comment-input {
            padding: 10px;
            &::placeholder {
                color: black;
            }

        }

        &__comment-input {
            line-height: 2rem;
            resize: none;
        }

        &__button {
            margin-top: 20px;
            padding: 20px;
            color: white;
            background-color: black;
            border-radius: 10px;
        }
    }

}
