@use "./partials/typography" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Avenir Next";
    margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Avenir Next";
    font-weight: 400;
}

img {
    max-width: 100%;
}
.site-header {
    width: 100%;
    min-width: 320px;
    @include tablet {

    }
    &__nav {
        background-color: $primary-bgcolor;
        @include tablet {
            align-items: center;
        }
        @include desktop {
            align-items: center;
        }
    }
    &__nav-container {
        display: flex;
        flex-direction: column;
        @include tablet {
            padding-top: 1rem;
            margin-left: 3rem;
            flex-direction: row;
            justify-content: flex-start;
            align-items: baseline;
            gap: 1rem;
        }
        @include desktop {
            padding-top: 2rem;
            width: 50%;
            justify-content: flex-end;
            gap: 4rem;
        }
    }

    &__logo {
        display: inline-flex;
        text-decoration: none;
        color: $primary-header-text-color;
        justify-content: center;
        margin: 1rem;
        padding: .625rem;
        text-decoration: none;
        @include text-styles($mobile-header-text-size, $mobile-header-line-height, $light-txt-weight);
        @include desktop{
            @include text-styles($sixty-px-txt-size, $sixty-eight-px-line-height, $light-txt-weight);
            
        }
    }
}

.navbar {
    color: $primary-header-text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-inline-start: 0;
    list-style: none;
    text-decoration: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    min-width: 319px;
    @include tablet {
        gap: 3rem;
    }
    @include desktop {
        gap: 4rem;
    }
    &__item{
        flex: 1;
        padding: 2rem;
        text-align: center;
        @include tablet {
            padding: 2rem 0;
        }
        &:hover,
        &--active {
            border-bottom: 4px solid #FFFFFF;
            @include tablet{
                
                border-bottom: 5px solid #FFFFFF;
            }
        }
    }
    &__link {
        color: $primary-header-text-color;
        margin: 1rem;
        @include text-styles($twenty-four-px-txt-size,$thirty-two-px-line-height,$bold-txt-weight);
        text-decoration: none;
        @include tablet {
        @include text-styles($twenty-four-px-txt-size, $thirty-two-px-line-height, $regular-txt-weight);
         
        }
        @include desktop {

        }

    }
}
.footer {
    background: $primary-bgcolor;
    &__container {
        color: $primary-header-text-color;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        @include tablet {
            margin: 1rem;
            padding: 2rem;
        }
    }

    &__header-container {
        @include tablet {
            padding: 3rem 0;
            display: flex;
            align-items: baseline;
            justify-content: space-around;
            width: 100%;
        }
    }

    &__main-title {
        @include tablet {
            font-size: 3rem;
        }
    }

    &__icons {
        @include tablet {
            padding: 0 1rem;
            max-width: 15rem;
            width: 25%;
            align-items: center;
        }

    }

    &__link {
        text-decoration: none;
        color: white;
    }

    &__icon {
        width: 35px;
        height: 30px;
        margin-right: 1.25rem;
        @include desktop {

        }
    }

    &__logo {
        text-decoration: none;
        color: $primary-header-text-color;
        @include text-styles($mobile-header-text-size, $mobile-header-line-height, $light-txt-weight);
    }

    &__logo-right {
        display: none;

        @include tablet {
            display: block;
        }
    }

    &__logo-tablet {
        @include tablet {
            display: none;
        }
    }

    &__column-container {
        display: flex;
        flex: wrap;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            margin-left: 9%;
        }

        @include desktop {
            width: 70%;

        }
    }
    &__column {
        @include tablet {
            margin-left: 1.25rem;
            flex: 1 1 33.333%;
        }
     

    }
    .footer__copyright {
        @include tablet {
            padding-left: 12%;
        }

    }
}

