@use "../styles/partials/typography" as *;
@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    // border: 1px solid red;
}

body{
    font-family: "Avenir Next";
    margin: 0;
    padding: 0;
}

.hero-banner{
    background-image: url(../assets/Images/Photo-gallery-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    padding: 30px;
}

.soundcloud{
    font-size: 10px;
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode,
    Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
    width: 40%;
    height: 166;
}
.shows-container{
    padding: 30px 0;
    &__header{
        font-size:2rem ;
        font-weight: 700;
    }
}
.shows-list__container{
    display: flex;
    flex-direction: column;
}
.show{
    border-bottom: 1px solid grey;
    &:hover {
        background-color: grey;
    }
    &--selected{
        background-color: aqua;
    }
    &__info{
        list-style: none;

    }
    &__info-item{
        padding: 20px 0;
        color: grey;
    }
    &__info-day{
        font-weight: 700;
    }
    &__info-location{
        font-weight: 600;
    }
    &__button-get-ticket{
        padding: 15px;
        margin-bottom: 30px;
        border-radius: 5px;
        background-color: black;
        color: white;
        width: 90%;
        margin: 1rem 2rem;
    }
}
