@use "../styles/partials/typography" as *;
@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    font-family: "Avenir Next";
    margin: 0;
    padding: 0;
}

.hero {
    background-image: url(../assets/Images/hero-shows.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 20rem;
    width: 100%;
    padding-bottom: 2rem;
    position: relative;

    @include desktop {
        height: 80vh;
    }
    &__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 100rem;
        position: relative;
        z-index: 1;
        padding: 1.5rem;

        @include tablet {
            padding: 3rem;
        }
        @include desktop {
            max-width: 100rem;
            align-items: last baseline;
            width: 90%;
            top:50%;
            left:6%;
            height: 50%;
            flex-direction: row;
        }
    }
    &__sub-container{
        width: 50vw;
        @include desktop{
            height: 50vh;
        } 
    }
    &__subtitle {
        @include text-styles($twenty-four-px-txt-size, $twenty-two-px-line-height, $light-txt-weight);
    }
    &__title,
    &__subtitle {
        color: $primary-header-text-color;
        @include tablet {
            max-width: 40rem;
        }
    }
    &__title {
        @include text-styles($thirty-px-txt-size, $fourth-four-px-line-height, $bold-txt-weight);
        @include desktop {
            @include text-styles($sixty-px-txt-size, $sixty-eight-px-line-height, $bold-txt-weight);
        }
    }
    &__desktop-container {
        display: flex;
        justify-content: space-between;
    }
}

.soundcloud{
    position: relative;
    font-size: 10px;
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 100;
    height: 10.375rem;
    width: 90%;
    overflow: hidden;
    border: none;
    @include tablet{
        width: 40%;
    }
    @include desktop {
        margin-left: 2rem;
        top: 30%;
    }
}

.shows-container{
    min-width: 20rem;
    @include text-styles($twenty-four-px-txt-size, $thirty-two-px-line-height, $bold-txt-weight);
    padding: 1rem 0 ;
    @include tablet{
        padding: 3rem;
    }
    @include desktop{
        display: flex;
        justify-content: space-around;
    }
    &__header{
        margin-left: 1.5rem;
        font-weight: 700;
        padding-bottom: 1rem;
        @include tablet{
            margin-left: 2rem;
            @include text-styles($sixty-px-txt-size, $fourth-four-px-line-height, $bold-txt-weight);
        }
        @include desktop{
            margin: 0;
            padding-top: 2rem; 
        }
    }
}
.shows-list__container{
    display: flex;
    flex-direction: column;
    @include desktop{
        width:80%
    }
}
.show{
    border-bottom: 1px solid grey;
    @include tablet{
        margin: 0;
        padding: 10px;
        width: 100%;
    }

    &:hover {
        background-color: #FAFAFA;
        cursor: pointer;
    }
    &--selected{
        background-color: $mercury;
    }
    &__info{
        list-style: none;
        padding: 0 1.5rem;
        @include tablet{
            width: 95%;
            padding: 0;
            margin: 0 1.8rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__info--tablet{
        min-width: 8rem;
    }
    &__info-item{
        padding: 20px 0;
        color: $silver-primary-color;
        @include text-styles($twenty-four-px-txt-size, $twenty-two-px-line-height, $regular-txt-weight);
        @include tablet{
            display: none;
        }
    }
    &__info-day{
        @include text-styles($twenty-four-px-txt-size, $thirty-px-txt-size, $bold-txt-weight);
        @include tablet{
            @include text-styles($twenty-px-line-height, $twenty-two-px-line-height, $regular-txt-weight);
            margin-right: 1.25rem
        }
    }
    &__info-location{
        @include text-styles($twenty-four-px-txt-size, $twenty-two-px-line-height, $light-txt-weight);
        @include tablet {
            @include text-styles($twenty-px-txt-size, $twenty-two-px-line-height, $light-txt-weight);
            margin-right: 1.25rem
        }


    }
    &__button-get-ticket{
        text-transform: uppercase;
        padding:1.8rem;
        border: none;
        border-radius: 4px;
        background-color: $bandsite-black;
        color: white;
        width: 100%;
        margin: 1rem 0;
        cursor: pointer;
        @include text-styles($twenty-four-px-txt-size, $common-btn-label-line-height, $regular-txt-weight);
        min-width: 40px;
        @include tablet{
            margin-right: 1rem;
            width: 8.75rem;
            padding: 1.2rem;
            @include text-styles($common-btn-label-text-size, $common-btn-label-line-height, $regular-txt-weight);
        }
    }
}

.shows-tablet{
    display: none;
    @include tablet{
        // margin: 0 0.5rem;
        display: flex;
        flex-direction: row;
        text-transform: uppercase;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        width: 70%;
    @include desktop{
        width: 70%;
    }
    }
    &__item{
    @include tablet {
        color: #afafaf;
        padding: 2rem 1.2rem;
        font-weight: 600;
    }
    }
}
